@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/* 
* {
  border: 1px black solid;
} */

body {
  width: 90vw;
  height: 100vh;
  overflow: hidden;
  /*background-color: blueviolet;*/
  margin-right: 50px;
  background-color: rgb(215, 213, 213);
  background-image: url('./images/background.jpg');
  background-position: center;
  background-size: cover;
font-family: 'Special Elite',
cursive;
}

table {
  width: 100%;
  border: none;
}

td {
  border: none;
}

td.fraction {
  text-align: right;
}

tr {
  border-bottom: 1px solid black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}

main {
  display: flex;
  justify-content: space-evenly;
  height: 85vh;
  width: 100vw;
  overflow: hidden;
  margin-right: 20px;
}

.button {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  font-size: 30px;
  margin: 5px;
}
.aside-button {
  height: 10%;
  width: 66%;
  position: absolute;
  bottom: 40px;
  align-self: center;
  border-radius: 15px;
  font-size: 38px;

}
.add_ingredients {
  border: 2px solid black;
  color: black;
}

.add_ingredients:hover {
  border: 2px solid black;
  color: black;
  background-color: yellow;
  cursor: pointer;
}

.buy_ingredients {
  border: 2px solid red;
  color: red;
}

.home_button {
  margin-left: 10px;
}

.buy_ingredients:hover {
  border: 2px solid rgba(255, 0, 0, 0.761);
  color: white;
  background-color: rgba(255, 0, 0, 0.732);
  cursor: pointer;
}

.make_recipe {
  border: 2px solid green;
  color: green;
}

.make_recipe:hover {
  border: 2px solid green;
  color: white;
  background-color: green;
  cursor: pointer;
}

.button:hover {
transform: scale(1.1);
cursor: pointer;
}

.favorite_button {

}

.toCook_button {

}

.unfavorite_button {

}

.notToCook_button {

}


.icon {

}

.search{
  width: 15vw;
  height: 3vh;
  border-radius: 50px;
 border: 2px black solid;
 padding: 3%;
 font-size: 1.3em;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.9),
  -1px -1px 2px #aaa,
  1px 1px 2px #555;
}

.title-container {
display: flex;
align-items: flex-end;
justify-content: flex-start;
height: 10vh;
width: 50vw;
font-size: 30px;
}

.aside-title-container {
display: flex;
align-items: flex-end;
justify-content: flex-start;
height: 10%;
width: 50vw;
background-color:transparent;
}

.title,
.username {
  font-size: 32px;
  color: white;
  text-shadow: 4px 4px 4px rgb(0, 0, 0),
   -4px -4px 4px rgb(0, 0, 0),
 -4px 4px 4px rgb(0, 0, 0), 4px -4px 4px rgb(0, 0, 0);
  /* background-color: rgba(0, 0, 0, 0.164); */
  font-weight: 900;
}

.aside {
position: relative;
  display: flex;
  flex-direction: column;
  width: 33vw;
  background-color: transparent;
  margin-right: 20px;
  overflow: hidden;
}

.aside_title {
  /* border-bottom: solid 2px black; */
  /* margin-bottom: 7px; */

}
.pantry_title_label{
  margin-left:20px;
}
.information-list {

    border-radius: 20px;

/* box-shadow: rgba(0, 0, 0, 0.15) 10px 5px 5px; */
  padding: 30px;
  height: 75%;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label {
box-shadow: inset rgba(0, 0, 0, .3) 0px -15px 5px;
height: 30%;
  font-size: 30px;
  margin-right: 15px;
  white-space: nowrap;
  padding: 10px;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  background-color: gray;
  color: white;
}

input[type="checkbox"]:not(:checked) {
width: 1.5em;
height: 1.5em;


}

input[type="checkbox"]+label {

font-size: 1.5em;
}

input[type="radio"]:checked+label{
box-shadow: rgba(0, 0, 0, 0.15) 10px 5px 5px;

font-size: 32px;
  margin-right: 15px;
  padding: 10px;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  background-color: white;
  font-weight: bold;
  color: black;
}
input[type="checkbox"]:checked {
  width: 1.5em;
  height: 1.5em;
 background: none;
 background-color: green;
}

input[type="checkbox"]:checked+label {
  font-weight: bold;
  color: green;
}

.nav_action_button_container {
  display: flex;
  align-items: flex-end;
  padding-right: 3%;
  justify-content: flex-end;
  height: 10vh;
  width: 50vw;
  font-size: 30px;

}

.scrollable {
  height: 80%;
  overflow: auto;
  background-color: white;

}

.details {
  border-radius: 2em;
  overflow: hidden;
  background-color: white;
  height: 100%;
  width: 60%;
}

.details_information {
  height: 100%;
  width: 100%;
}

.details_title {
  margin-left:25px;
  white-space: nowrap;
  font-size: 1em;
}
.price {
    font-size: .7em;
    font-weight: bold;
    color: gray;
}

.recipe_cards_container {
  /* padding-left: 5px;
  margin-right: 45px; */
  border-radius: 2em;
  height: 88%;
  width: 100%;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50%, auto);
  overflow: scroll;

}

.recipe_details_container {
  display: flex;
  height: 100%;
  width: 100%;
}

.recipe_card {
  border-radius: 1em;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border: 2px solid white;
}

.recipe_card_image {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  flex: 0;
  cursor: pointer;
  transform: scale(1.00);
  transition: transform .2s;
  z-index: 0;
  filter: grayscale(.8);
  filter: brightness(.7)
}

.recipe_card_image:hover {
  transform: scale(1.05);
  transition: transform .2s;

  filter: grayscale(0);
  filter: brightness(1)
}

.recipe_card_title {
  position: absolute;
  flex: 1;
  top: 70%;
  left: -1%;
  font-size: 1.3vw;
  z-index: 1;
  width: 90%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
.recipe_card_title:hover {
  cursor: pointer;
}

.recipe_card_button_container {
  position: absolute;
  top: 5%;
  left: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}

.recipe_details_button_container {
  position: absolute;
  top: 23%;
  left: 89%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}


.recipe_details_image {
  position: absolute;
  left: 43%;
  border: 1px solid black;
  border-radius: 1em;
  /* height: auto; */
  width: 50%;
  margin: 10px;

}
.recipe_instructions_containter {
  border-radius: 1em;
  width: 45%;
  height: 45%;
  left: 41%;
  top: 40%;
  font-size: 1.4em;
  padding: 2%;
  position:absolute;
  background-color: transparent;
}

.frosted {
  background: linear-gradient(to bottom right,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.05));
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.9), -1px -1px 2px #aaa,
    1px 1px 2px #555;
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

.enough {
  color: green;
}

.not_enough {
  color: red;
  font-weight: bold;
}

.hidden {
  display: none;
}
