/* * {
  border: 1px black solid;
} */

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /*background-color: blueviolet;*/
  margin: 0;
  background-color: #dde3e0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}

main {
  display: flex;
  justify-content: space-between;
  height: 85vh;
  width: 100vw;
  overflow: hidden;
}

.button {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  font-size: 30px;
  margin: 5px;
}

.button:hover {
transform: scale(1.1);
cursor: pointer;
}

.favorite_button {

}

.toCook_button {

}

.unfavorite_button {

}

.notToCook_button {

}


.icon {
  
}

.search{
  margin-right: 30px;
 border: 1px black solid;
}

.title-container {
  display: flex;
  align-items: flex-end;
  height: 10vh;
}

.title, 
.username {
  font-size: 25px;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 33vw;
}

.aside_title {
  border-bottom: solid 2px black;
  margin-bottom: 7px;
  font-size: 30px;
}

.aside_information_list {
  height: 75%;
}

input[type="radio"] {
  display: none;
}

input[type="checkbox"]:not(:checked) {
  display: none;
}

input[type="radio"]:checked+label{
  font-weight: bold;
  border-bottom: solid 2px blue;
  color: blue;
}

input[type="checkbox"]:checked+label {
  font-weight: bold;
  color: green;
}

.aside_action_button_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 10vh;
  width: 50vw;
  font-size: 30px;
  
}

.scrollable {
  overflow: auto;
}

.details {
  height: 100%;
  width: 100%;
}

.details_information {
  height: 100%;
  width: 100%;
}

.recipe_cards_container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50%, auto);
}

.recipe_details_container {
  display: flex;
  height: 100%;
  width: 100%;
}

.recipe_card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border: 2px #dde3e0 solid;
}

.recipe_card_image {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  flex: 0;
  cursor: pointer;
  transform: scale(1.00);
  transition: transform .2s;
  z-index: 0;
}

.recipe_card_image:hover {
  transform: scale(1.05);
  transition: transform .2s;
}

.recipe_card_title {
  position: absolute;
  flex: 1;
  top: 70%;
  left: -1%;
  font-size: 1.5vw;
  z-index: 1;
  width: 90%;
  padding-left: 5px;
  text-align: center;
  border-radius: 5px;
}

.recipe_card_button_container {
  position: absolute;
  top: 5%;
  left: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}


.recipe_details_image {
  height: 50%;
  width: auto;
}
.recipe_instructions_containter {
  width: 90%;
}

.frosted {
  background: linear-gradient(to bottom right,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.05));
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.9), -1px -1px 2px #aaa,
    1px 1px 2px #555;
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

.hidden {
  display: none;
}

